.git
.github
.venv
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__
*.pyc
tests/
dev/
docs/
example-configs/config.local.yaml
example-configs/config.docker-snowstorm.yaml
example-configs/config.docker-lite.yaml
docker-compose.integration.yml
uv.lock
